
@media (max-width:360px){

    #CartMenu{

        width: 155px;
        max-height: 35%;
        border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        position: fixed;
        overflow: scroll;
        border-color: rgb(66, 201, 66);
        border-radius: 12px 5px 45px;
        right: 145px;
        background-color: white;
    
    }
    
    
    #CartItemImage{
    
        width: 50px;
        height: 35px;
        position: absolute;
        
    }
    
    
    #CartItemMain{
        
        width: 90%;
        height: 35px;
        display: block;
        border-radius: 15px 50px;
        margin: auto;
        padding: 5px;
        border-width: 1px;
        margin-top: 5px;
        border-width: 1px;
    
    }
    
    #CardItemTitle{
    
        font-size: 3px;
        position: absolute;
        padding: 3px;
        font-family:Arial, Helvetica, sans-serif;
        overflow: hidden;   
        max-width: 130px;
    
    }
    
    #CartItemTrashIcon{
        position: absolute;
        width: 25px;
        height: 25  px;
        margin-top: 2px;
        cursor: pointer;
        
    }
    
    
    #CartItemMainImageWindow{
        width: 62px;
        height: 100%;
        border-width: 1px;
        border-style: solid;
        display: inline-block;
        border-right: none;
    }
    
    #CartItemMainTitleWindow{
        width: 45px;
        border-width: 1px;
        border-style: solid;
        height: 100%;
        display: inline-block;
        border-right: none;
        border-left: none;
        
        
    }
    
    #CartItemMainTrashWindow{
        width: 25px;
        border-width: 1px;
        border-style: solid;
        height: 100%;
        display: inline-block;
        /* border-left: none; */
    }
}

@media (min-width:360px) and (max-width:900px){
    #CartMenu{

        width: 200px;
        max-height: 35%;
        border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        position: fixed;
        overflow: scroll;
        border-color: rgb(66, 201, 66);
        border-radius: 12px 5px 45px;
        background-color: rgb(255, 255, 255);
        right: 265px;
    
    }
    
    
    #CartItemImage{
    
        width: 50px;
        height: 35px;
        position: absolute;
        
    }
    
    
    #CartItemMain{
        
        width: 90%;
        height: 35px;
        display: block;
        border-radius: 15px 50px;
        margin: auto;
        padding: 5px;
        border-width: 1px;
        margin-top: 5px;
        border-width: 1px;
    
    }
    
    #CardItemTitle{
    
        font-size: 5px;
        position: absolute;
        padding: 3px;
        font-family:Arial, Helvetica, sans-serif;
        overflow: hidden;   
        max-width: 130px;
    
    }
    
    #CartItemTrashIcon{
        position: absolute;
        width: 31px;
        height: 31px;
        margin-top: 2px;
        cursor: pointer;
        
    }
    
    
    #CartItemMainImageWindow{
        width: 62px;
        height: 100%;
        border-width: 1px;
        border-style: solid;
        display: inline-block;
        border-right: none;
    }
    
    #CartItemMainTitleWindow{
        width: 80px;
        border-width: 1px;
        border-style: solid;
        height: 100%;
        display: inline-block;
        border-right: none;
        border-left: none;
        
        
    }
    
    #CartItemMainTrashWindow{
        width: 32px;
        border-width: 1px;
        border-style: solid;
        height: 100%;
        display: inline-block;
        /* border-left: none; */
    }
}

@media (min-width:900px){

    #CartMenu{

        width: 250px;
        max-height: 35%;
        border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        position: fixed;
        overflow-y: scroll;
        right: 288px;
        border-color: rgb(66, 201, 66);
        border-radius: 12px 5px 45px;
        background-color:rgba(255, 255, 255, 0.979);
    
    }
    
    
    #CartItemImage{
    
        width: 65px;
        height: 45px;
        position: absolute;
        
    }
    
    
    #CartItemMain{
        
        width: 92%;
        height: 45px;
        display: block;
        border-radius: 15px 50px;
        margin: auto;
        padding: 5px;
        border-width: 1px;
        margin-top: 5px;
        
    
    
    }
    
    #CardItemTitle{
    
        font-size: 8px;
        position: absolute;
        padding: 3px;
        font-family:Arial, Helvetica, sans-serif;
        overflow: hidden;   
        max-width: 130px;
    
    }
    
    #CartItemTrashIcon{
        position: absolute;
        width: 31px;
        height: 31px;
        margin-top: 5px;
        cursor: pointer;
        
    }
    
    
    #CartItemMainImageWindow{
        width: 62px;
        height: 100%;
        border-width: 1px;
        border-style: solid;
        display: inline-block;
        border-right: none;
    }
    
    #CartItemMainTitleWindow{
        width: 110px;
        border-width: 1px;
        border-style: solid;
        height: 100%;
        display: inline-block;
        border-right: none;
        border-left: none;
        
        
    }
    
    #CartItemMainTrashWindow{
        width: 32px;
        border-width: 1px;
        border-style: solid;
        height: 100%;
        display: inline-block;
        /* border-left: none; */
    }
}