[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "==4.0.0"
channels-redis = "==4.1.0"
colorama = "==0.4.4"
configargparse = "==1.5.3"
configobj = "==5.0.6"
constantly = "==15.1.0"
cryptography = "==40.0.2"
daphne = "==4.0.0"
distro = "==1.7.0"
django = "==4.1.7"
django-cors-headers = "==3.14.0"
django-payments = "==2.0.0"
django-phonenumber-field = "==7.1.0"
djangorestframework = "==3.14.0"
httplib2 = "==0.20.2"
hyperlink = "==21.0.0"
importlib-metadata = "==4.6.4"
incremental = "==22.10.0"
jeepney = "==0.7.1"
josepy = "==1.10.0"
keyring = "==23.5.0"
launchpadlib = "==1.10.16"
"lazr.restfulclient" = "==0.14.4"
"lazr.uri" = "==1.0.6"
louis = "*"
parsedatetime = "==2.6"
pexpect = "==4.8.0"
pillow = "==9.0.1"
protobuf = "==3.12.4"
ptyprocess = "==0.7.0"
pytz = "==2022.1"
pyxdg = "==0.27"
pyyaml = "==5.4.1"
redis = "==4.5.4"
reportlab = "==3.6.8"
requests = "==2.25.1"
gunicorn = "==20.1.0"
whitenoise = "*"
pipenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
