
#ProfileImage-left{
    border-radius:50%;
    width:40px;
    height:40px;
    padding: 4px;
    border-color: rgb(196, 145, 145);
    /* border-style: solid; */
    border-width: 1px;
    float: left;
    background-position: center;
    
    
}

#ProfileImage-right{

    border-radius:50%;
    width:40px;
    height:40px;
    padding: 4px;
    border-color: rgb(196, 145, 145);
    border-width: 1px;
    float: right;
    background-position: center;
    
}


#TextPlace{
    padding: 5px;
    padding-left: 6px;
    padding-bottom: 10px;
    overflow-y: visible;
    color: white;
    font-size: 15px;
}

#DiologElement{
    width: 200px;
    /* height: auto; */
    min-height: 60px;
    border-radius: 5px;
    background-color: rgb(66, 59, 59);
}

