


@media (max-width:360px){


  #NavbarCartIcon{
    width: 25px;
    height: 22px;
    margin-top: -5px;
    margin-left: 10px;
  }
  
  
  #NavbarCartIconArrow{
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: -5px;
  }


  #NavbarCart{
    
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 42px;
    font-size: 10px;
    padding: 5px;
    float: right;
    text-align: center;
    cursor:pointer;
    background-color: transparent;
    border-style: none;
    margin-right: 8px;
    
  }


  #navbarOption{
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 42px;
    font-size: 10px;
    padding: 5px;
    float: right;
    text-align: center;
    cursor:pointer;
    background-color: transparent;
    border-style: none;
    margin-right: 8px;
  }

  #NavBarMain{
  
    width: 100%;
    height:25px;
    position: fixed;
    background-color: rgb(148, 122, 122);
    
  }

}

@media (min-width:360px) and (max-width:650px){

  #NavbarCartIcon{
    width: 38px;
    height: 33px;
    margin-top: -4px;
    margin-left: 12px;
  }
  
  
  #NavbarCartIconArrow{
    width: 13px;
    height: 13px;
    position: absolute;
    margin-top: -4px;
  }



  #NavbarCart{
    text-decoration: none;
    color: white;
    display: inline-block;
    width: auto;
    font-size: 18px;
    padding: 5px;
    float: right;
    text-align: center;
    cursor:pointer;
    background-color: transparent;
    border-style: none;
    margin-right: 25px;
  }


  #navbarOption{
    
    text-decoration: none;
    color: white;
    display: inline-block;
    width: auto;
    font-size: 18px;
    padding: 5px;
    float: right;
    text-align: center;
    cursor:pointer;
    background-color: transparent;
    border-style: none;
    margin-right: 25px;

  }

  #NavBarMain{
  
    width: 100%;
    height: 38px;
    position: fixed;
    background-color: rgb(148, 122, 122);
    
  }

}


@media (min-width:650px) and (max-width:900px){

  #NavbarCartIcon{

    width: 38px;
    height: 37px;
    margin-top: -5px;
    margin-left: 12px;
    
  }


  #NavbarCart{
    text-decoration: none;
    color: white;
    display: inline-block;
    width: auto;
    font-size: 20px;
    padding: 5px;
    float: right;
    text-align: center;
    cursor:pointer;
    background-color: transparent;
    border-style: none;
    margin-right: 25px;
  }
  
  
  #NavbarCartIconArrow{
    width: 13px;
    height: 13px;
    position: absolute;
    margin-top: -4px;
  }


  #navbarOption{
    
    text-decoration: none;
    color: white;
    display: inline-block;
    width: auto;
    font-size: 20px;
    padding: 5px;
    float: right;
    text-align: center;
    cursor:pointer;
    background-color: transparent;
    border-style: none;
    margin-right: 25px;

  }

  #NavBarMain{
  
    width: 100%;
    height: 40px;
    position: fixed;
    background-color: rgb(148, 122, 122);
    
  }

}


@media (min-width:900px){


  #NavbarCartIcon{
    width: 40px;
    height: 38px;
    margin-top: -5px;
    margin-left: 12px;
  }
  
  #NavbarCartIconArrow{
    width: 13px;
    height: 13px;
    position: absolute;
    margin-top: -4px;
  }

  #NavbarCart{
    text-decoration: none;
    color: white;
    display: inline-block;
    width: auto;
    font-size: 22px;
    padding: 5px;
    float: right;
    text-align: center;
    cursor:pointer;
    background-color: transparent;
    border-style: none;
    margin-right: 25px;
  }
  

  #navbarOption{
    
    text-decoration: none;
    color: white;
    display: inline-block;
    width: auto;
    font-size: 22px;
    padding: 5px;
    float: right;
    text-align: center;
    cursor:pointer;
    background-color: transparent;
    border-style: none;
    margin-right: 25px;

  }

  #NavBarMain{
  
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgb(255, 0, 0);
    
  }

}


#navbarOption:hover{
  background-color: rgb(255, 187, 0);
}