:root {
  --light-purple: #eef2ff;
  --purple: #a5b4fc;
  --dark-purple: #4c40f3;
  --darker-purple: #7013da;
}


#MainSideBarWrapper{

  max-width: 100%;
  max-height: 100%;
  border: solid;

}

#SubSecondWindow{

  width: 100%;
  height: 100%;
  border-style: solid;
  position: absolute;

}

#inputField{

  /* min-width: 300px;
  height: 40px;
  width: 150px;
  display: block;
  position: absolute;
  bottom: 0; */
  
}

#ThirdWindow{
  
    width: 220px;
    height: 650px;
    /* position: absolute; */
    bottom: 0;  
    border: solid;

}


#TypeBox{

  height: 33px;
  width: 85%;
  border:solid rgb(66, 62, 62);
  border-radius: 3px;
  border-width: 1px;
  display: inline-block;

}

#TypeBox:focus{

  border:solid rgb(255, 0, 0);
  border-radius: 3px;
  border-width: 1px;

}


#firstWindow{

  width: 20%;
  min-height: 92%;
  /* border:solid; */
  border-right-color:rgb(214, 211, 0);
  display: inline-block;
  position: absolute;
  z-index: 9;

}

#secondWindow{

  width: 80%;
  float: right;
  min-height: 92%;
  display: inline-block;
  border:solid #333333;
  /* position: absolute; */

}

#wrapper {

    padding-left: 0;
    height: 100%;
    position: fixed;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}



#sidebar-wrapper {

  z-index: 0;
  /* left: 220px; */
  width: 0;
  min-height: 100%;
  position: relative;
  margin-left: -219px;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(44, 218, 194, 0.808);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}


#page-content-wrapper {
  
    width: 100%;
    padding-top: 70px;

}

@media (max-width:360px){


  #wrapper.toggled #sidebar-wrapper {
    
    width: 280px;
    
  }

  #Window1{

    border: solid;

    width: 10%;
    display: inline-block;
    top: 0;
    left: 0;
    height: 92%;
    position: absolute;
    border-left-style: none;
    border-bottom-style: none;
    border-left-style: none;
    
  }
  
  #Window2{
  
    width: 82%;
    height: 85%;
    position: absolute;
    right: 0;
    /* border: solid; */
  
  }

  #Window3{

    width: 70%;

    position: absolute; 
    top: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 15px;
  
  }

  .hamburger {

    position: fixed;
    top: 24px;  
    z-index: 999;
    display: block;
    width: 20px;
    height: 30px;
    margin-left: 10px;
    background: transparent;
    border: none;
    cursor: pointer;

  }


  #wrapper.toggled {

    padding-left: 250px;
    
}

  #SupportIcon{
      
    width: 20px;
    height: 20px;

  }

  #CartIcon{

    width: 20px;
    height: 20px;
  }


  #UserIcon{

    width: 20px;
    height: 20px;

  }
  #inputField{
    margin-bottom: 15px;
    /* z-index: 10005; */
    position: relative;
  }

}

@media (min-width: 360px) and (max-width: 650px){


  #wrapper.toggled #sidebar-wrapper {
    
    width: 280px;
    
  }

  #Window1{


    width: 18%;
    display: inline-block;
    top: 0;
    left: 0;
    height: 92%;
    position: absolute;
    border-left-style: none;
    border-bottom-style: none;
    border-left-style: none;
    
  }
  
  #Window2{
  
    width: 82%;
    height: 85%;
    position: absolute;
    right: 0;
    border: solid;
  
  }

  #Window3{

    width: 80%;
    position: absolute; 
    top: 0;
    right: 0;
    margin-bottom: 15px;
  
  }

  .hamburger {
    position: fixed;
    top: 24px;  
    z-index: 999;
    display: block;
    width: 20px;
    height: 30px;
    margin-left: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
  }


  #wrapper.toggled {

    padding-left: 250px;
    
}

  #SupportIcon{
      
    width: 20px;
    height: 20px;

  }

  #CartIcon{

    width: 20px;
    height: 20px;
  }


  #UserIcon{

    width: 20px;
    height: 20px;

  }
  #inputField{
    margin-bottom: 15px;
    position: relative;
  }

}


@media (min-width: 650px) and (max-width: 900px){


  #wrapper.toggled #sidebar-wrapper {
    
    width: 280px;
    
  }

  #Window1{


    width: 18%;
    display: inline-block;
    top: 0;
    left: 0;
    height: 92%;
    position: absolute;
    border-left-style: none;
    border-bottom-style: none;
    border-left-style: none;
    
  }
  
  #Window2{
  
    width: 82%;
    height: 85%;
    position: absolute;
    right: 0;
    border: solid;
  
  }

  #Window3{

    width: 80%;

    position: absolute; 
    top: 0;
    right: 0;
    margin-bottom: 15px;
    
  
  }

  .hamburger {
    position: fixed;
    top: 24px;  
    z-index: 999;
    display: block;
    width: 20px;
    height: 30px;
    margin-left: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
  }


  #wrapper.toggled {

    padding-left: 250px;
    
}

  #SupportIcon{
      
    width: 20px;
    height: 20px;

  }

  #CartIcon{

    width: 20px;
    height: 20px;
  }


  #UserIcon{

    width: 20px;
    height: 20px;

  }
  #inputField{
    margin-bottom: 15px;
    position: relative;
  }

}


@media (min-width: 900px){


  #wrapper.toggled #sidebar-wrapper {
    
    width: 322px;
    
  }

  #Window1{


    width: 16%;
    display: inline-block;
    height: 92%;
    left: 0;
    top: 0;
  
    position: absolute;
    border-left-style: none;
    border-bottom-style: none;
    border-left-style: none;
    
  }

  /* #wrapper{
    position: relative;
  }
   */

  #Window2{
  
    width: 82%;
    height: 85%;
    position: absolute;
    right: 0;
    border: solid;
  
  }
  
  #Window3{

    width: 80%;
    position: absolute; 
    top: 0;
    right: 0;
    margin-bottom: 15px;
    
  }

  #inputField{
    margin-bottom: 15px;
    position: relative;
  }

  .hamburger {
    position: fixed;
    top: 24px;  
    z-index: 999;
    display: block;
    width: 20px;
    height: 30px;
    margin-left: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
  }

  #SupportIcon{
    
    width: 34px;
    height: 34px;

  }

  #CartIcon{

    width: 34px;
    height: 34px;

  }


  #UserIcon{

    width: 34px;
    height: 34px;

  }

  #wrapper.toggled {

    padding-left: 220px;
    
}

  

}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/


.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;

}

.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,

.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

